<html>
    <head>
        <title>Büşra'nın Gözünden</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bu Benim Dünyam!</a></h1>
        </div>

        <div>
            <p>published: 26.02.2017, 16:37</p>
            <h2><a href="">İlk Blogum</a></h2>
            <p>İlk blogumu oluşturduğum için çok mutluyuuum! Sabahtan beri emek veriyorum ama değdi, artık bilgisayarı daha da çok seviyoruum! :)) </p>
        </div>

        <div>
            <p>published: 26.02.2017, 16:40</p>
            <h2><a href=""">Bu Da İkinci Gönderiiim</a></h2>
            <p>Çok yoruldum.</p>
        </div>
    </body>
</html>